:root {
  --ff-sans: "Fira Sans", sans-serif;
  --ff-serif: "Playfair Display", serif;

  /* small screen font-sizes */

  --fs-100: 0.875rem;/*14px*/
  --fs-200: 0.938rem;/*15px*/
  --fs-300: 1rem;
  --fs-400: 1.063rem;/*17px*/
  --fs-500: 1.5rem;/*h3*/
  --fs-600: 2.25rem;/*h2*/
  --fs-700: 2.375rem;/*h1*/

  --fs-heading: 2.938rem;/*lower h1 in span*/
  --fs-label: 0.875rem;
  --fs-label-input: 0.938rem;
  --fs-copy: 0.875rem;
  --fs-btn: 1rem;
  --fs-quote: 1.188rem;/*19px -quote*/

  --fw-200: 300;/*light*/
  --fw-300: 400;/*regular*/
  --fw-500: 500; /*medium*/
  --fw-600: 600;/*Semibold*/
  --fw-700: 700;/*bold*/

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: ;
  --clr-neutral-300: ;
  --clr-neutral-400: #d5d5d5;/*unselected nav item*/
  --clr-neutral-500: ;
  --clr-neutral-900: ;

  /*p {color: rgba(255, 255, 255, 0.8);} border: 10px solid rgba(255, 255, 255, .3)
  Add white color with opacity as in Figma*/

  --clr-bg-300: #242424;/*dark*/
  --clr-bg-400: #2b2b2b;/*light*/
  --clr-bg-500: #404040;/*masterplay bg/playlist hover/band members bg*/
  --clr-bg-600: #1a1a1a;/*Form bg*/

  --clr-accent-300: #d61a24;
  --clr-accent-400: #e31b26;/*accent on lighter bg + NB ALL GRAPHICS on dark and light bg*/
  --clr-accent-500: #ff8b7a;/*accent for playmaster volume up only*/

  --clr-hover-primary: #bd0b15;
  --clr-hover-secondary: #d61a24;

  --br: 1rem;/**/

  --box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);/*member and masterplay*/

  --spacer-xs: 0.5rem; /*8px*/
  --spacer-s: 1rem; /*16px*/
  --spacer-ls: 1.5rem; /*24px*/
  --spacer-m: 2rem; /*32px*/
  --spacer-xm: 2.5rem; /*40px*/
  --spacer-sl: 3rem; /*48px*/
  --spacer-l: 4.5rem; /*56px*/
  --spacer-xl: 4rem; /*64px*/
  --spacer-xxl: 4.5rem; /*72px*/
  --spacer-xxxl: 5rem; /*80px*/
  --spacer-xxxxl: 5.5rem; /*88px*/
  --spacer-xxxxxl: 7.25rem; /*116px*/


}

/*tablet*/
@media (min-width: 40em) {
  :root {
    
    --fs-500: 1.625rem;
    --fs-600: 2.375rem;
    --fs-700: 3.25rem;
    --fs-heading: 3.875rem;
  }
}

/*desktop*/
@media (min-width: 40em) {
  :root {
    
    --fs-500: 1.875rem;
    --fs-600: 3.125rem;
    --fs-700: 4.688rem;
    --fs-heading: 5.75rem;
    --fs-btn: 1.063rem;
    --fs-quote: 1.25rem;/*quote*/

  }
}


/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

html {
  color-scheme: dark light;
}


body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  /*can do margin: 0; as well*/
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  /*height: auto;*/
}


input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  min-height: 100vh;/**/
  padding: 1.5rem;/**/
  color: var(--clr-neutral-100);
}


/*Typography*/

h1,
h2,
h3 {
  font-family: var(--ff-serif);
  font-weight: var(--fw-700);
}

h3 {
  font-weight: var(--fw-600);
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  font-weight: var(--fw-500);
  font-size: var(--fs-300);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-neutral-100);
}
.btn-primary {
  background-color: var(--clr-accent-300);
  padding: 1.25em 3.25em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-hover-primary);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--clr-neutral-100);
  padding: 1.25em 2.3125em;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--clr-hover-secondary);
  border-color: var(--clr-hover-secondary);
}


/*desktop*/
@media (min-width: 40em) {

  .btn {
    font-size: var(--fs-400);
  }
}


/*General layout*/

section {
  padding: 3rem 0;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flow-content > * + * { /*about text*/
  margin-top: 2rem;
}

/*tablet*/
@media (min-width: 40em) {
  section {
    padding: 5.5rem 0;
  }

  .flow-content > * + * { /*about text*/
    margin-top: 1.5rem;
  }
}

/*desktop*/
@media (min-width: 40em) {
  section {
    padding: 7.25rem;
  }
  
}