
:root {
  --ff-sans: "Fira Sans", sans-serif;
  --ff-serif: "Playfair Display", serif;
  --ff-quote: 'PT Serif Caption', serif;

  /* small screen font-sizes */

  --fs-100: 0.875rem;/*14px*/
  --fs-200: 0.938rem;/*15px*/
  --fs-300: 1rem;
  --fs-400: 1.063rem;/*17px*/
  --fs-450: 1.125rem;/*18px*/
  
  --fs-label: 0.875rem;
  --fs-label-input: 0.938rem;
  --fs-copy: 0.875rem;
  --fs-btn: 1rem;
  --fs-quote: 1.188rem;/*19px -quote*/

  --fw-200: 300;/*light*/
  --fw-300: 400;/*regular*/
  --fw-500: 500; /*medium*/
  --fw-600: 600;/*Semibold*/
  --fw-700: 700;/*bold*/

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: ;
  --clr-neutral-300: ;
  --clr-neutral-400: #d5d5d5;/*unselected nav item*/
  --clr-neutral-500:  #2d2d2d;/*hr*/
  --clr-neutral-900: ;

  /*p {color: rgba(255, 255, 255, 0.8);} border: 10px solid rgba(255, 255, 255, .3)
  Add white color with opacity as in Figma*/

  --clr-bg-300: #242424;/*dark*/
  --clr-bg-400: #343434;/*#2b2b2b;/*light*/
  --clr-bg-500: #404040;/*masterplay bg/playlist hover/band members bg*/
 
  --clr-bg-600: #1a1a1a;/*Form bg*/

  --clr-accent-300: #d61a24;
  --clr-accent-400: #e31b26;/*accent on lighter bg + NB ALL GRAPHICS on dark and light bg*/
  --clr-accent-500: #ff8b7a;/*accent for playmaster volume up only*/

  --clr-hover-primary: #bd0b15;
  --clr-hover-secondary: #d61a24;

  --br: 1rem;/**/

  --box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);/*member and masterplay*/

  --spacer-xs: 0.5rem; /*8px*/
  --spacer-s: 1rem; /*16px*/
  --spacer-ls: 1.5rem; /*24px*/
  --spacer-m: 2rem; /*32px*/
  --spacer-xm: 2.5rem; /*40px*/
  --spacer-sl: 3rem; /*48px*/
  --spacer-l: 4.5rem; /*56px*/
  --spacer-xl: 4rem; /*64px*/
  --spacer-xxl: 4.5rem; /*72px*/
  --spacer-xxxl: 5rem; /*80px*/
  --spacer-xxxxl: 5.5rem; /*88px*/
  --spacer-xxxxxl: 7.25rem; /*116px*/

  /*Loading animation on hero section*/
  --hero-load-time: 800ms;
}

/*tablet*/
@media (min-width: 36em) {
  :root {
    --fs-450: 1.2rem;
    
  }
}



/*desktop*/
@media (min-width: 62em) {
  :root {
    --fs-btn: 1.063rem;
    --fs-quote: 1.25rem;/*quote*/

  }
}


/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

html {
  color-scheme: dark light;
}


body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  /*can do margin: 0; as well*/
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
  
}


input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.7;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  min-height: 100vh;/**/
  font-family: var(--ff-sans);
  color: var(--clr-neutral-100);
}


/*Typography*/

h1,
h2,
h3 {
  
  font-family: var(--ff-serif);
  font-weight: var(--fw-700);
}

h1 {
 
  font-size: clamp(2.8rem, 2.1325rem + 3.3374vw, 6.2rem);

  line-height: 1;
  letter-spacing: -2px;
}

h1 span {
  
  font-size: clamp(3.3rem, 2.5367rem + 3.8164vw, 7.188rem);
  line-height: 1;
}

h2 {
  line-height: 1.2;
  letter-spacing: -2px;
  font-size: clamp(1.9rem, 1.7200rem + 0.9000vw, 2.8rem);
  position: relative;
}

h2::before {
  content: "";
  background-color: var(--clr-accent-400);
  width: 32px;
  height: 4px;
  position: absolute;
  left: 0;
  top: -32px;
}



h3 {
  font-size: clamp(1.4rem, 1.3050rem + 0.4750vw, 1.875rem);
  font-weight: var(--fw-600);
  line-height: 1.2;
  letter-spacing: -1.7px;
  
}

.text-400 {
  font-size: var(--fs-400);
  opacity: 0.9;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  font-weight: var(--fw-300);
  font-size: var(--fs-300);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-neutral-100);
}
.btn-primary {
  background-color: var(--clr-accent-300);
  padding: 0.625em 3em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-hover-primary);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--clr-neutral-100);
  padding: 0.625em 2.3em;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--clr-hover-secondary);
  border-color: var(--clr-hover-secondary);
}

/*tablet*/
@media (min-width: 36em) {
  
  
}


/*desktop*/
@media (min-width: 62em) {
  
  .btn {
    font-size: var(--fs-400);
  }
}


/*General layout/Utiity classes*/

section {
  padding: 7rem 0 6rem 0;
}

section:nth-child(1) {
  padding: 5.5rem 0 0 0;
}

section:nth-child(2) {
  padding: 0;
}

section:nth-child(3) {
  padding: 1.5rem 0 6rem 0;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  /*outline: 1px solid red;*/
}

.container-hero {
  max-width: 105rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.flow-content > * + * { /*about text*/
  margin-top: 1rem;
}

.split {
  display: flex;
  align-items: center;
}

.split-v {
  display: flex;
  flex-direction: column;
}

.p-upper {
  font-size: var(--fs-200);
  text-transform: uppercase;
  opacity: 0.7;
  line-height: 1.4;
  font-style: italic;
}

/*tablet*/
@media (min-width: 36em) {
  section,
  section:nth-child(3) {
    padding: 7.5rem 0;
  }

  section:nth-child(2) {
    padding: 2.3rem 0;
  }

  section:nth-of-type(8) {
    padding-top: 5.5rem;
  }
  

  .flow-content > * + * { /*about text*/
    margin-top: 1.5rem;
  }
}

/*desktop*/
@media (min-width: 62em) {
  /*section:nth-child(1) {
    padding: 11rem 0 6rem 0;
  }*/
  
  section:nth-child(1) {
    padding: 8rem 0 4rem 0;
  }
  
  section,
  section:nth-child(3) {
    padding: 9.25rem 0;
  }

  section:nth-of-type(8) {
    padding-top: 7.5rem;
  }
  
}

/*****/
/*Header*/
.header {
  background-color: var(--clr-bg-400);
  justify-content: space-between;
  padding: 1rem 2.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: 10;
}

.nav-left {
  gap: 2em;
}

.menu-links {
  display: none;
  gap: 1em;
}

.menu {
  display: none;
}

.logo {
  width: 2.25rem;
  border-radius: 2px;
  transition: all ease-in-out .3s;
}

.logo:hover,
.logo:focus {
  opacity: 0.7;
}



/*mobile/tablet header*/
.open-nav{
  border: 0;
  background: 0;
  color: var(--clr-neutral-100);
  cursor: pointer;
  padding: 0;
  font-size: 2em;
  transition: all ease-in-out .3s;
  opacity: 0.7;
}

.menu-inside {
  position: fixed;
  background: var(--clr-bg-300);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms; 
  height: 100%;
  padding: 0 2rem;
  z-index: 7;
}

.close-nav {
  border: 0;
  background: 0;
  color: var(--clr-neutral-100);
  cursor: pointer;
  font-size: 3em;
  font-weight: var(--fw-300);
  transition: linear .2s;
  margin: 0;
  opacity: 0.7;
}

.close-nav:hover,
.close-nav:focus,
.open-nav:hover,
.open-nav:focus {
  opacity: 1;
}

.list-inside li {
  padding: 1rem 0;
  opacity: 0.7;
}
.list-inside li:hover,
.list-inside li:focus {
  opacity: 1;
}
.nav-link {
  
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  text-decoration: none;
  text-transform: uppercase;
  
}

.nav-line {
  border: none;
  height: 1.5px;
  background-color: var(--clr-neutral-500);
}

/*javascript class to toggle*/
.navigation-open {
  transform: translateX(-100%);
}
/*tablet*/
@media (min-width: 36em) {
  .nav-link {
    font-size: var(--fs-400);
  }

  .list-inside li {
    padding: 1.5rem 0;
  }
}

/*desktop*/
@media (min-width: 62em) {
  header {
    padding: 1.5rem 3rem;
  }
  .open-nav {
    display: none;
  }

  .nav-left {
    gap: 3em;
  }

  .menu-links {
    display: flex;
    gap: 1.5em;
  }
  .menu-links li a {
    opacity: 0.7;
  }
  .menu-links li a:hover,
  .menu-links li a:focus {
    opacity: 1;
    transition: all ease-in-out .3s;
  }
  

  .menu {
    display: block;
    
  }

  .menu-list {
    gap: 1.5em;
   
  }

  .nav-item {
    color: var(--clr-neutral-100);
    opacity: 0.6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-400);
    position: relative;
    transform: scaleX(0);
    transition: all ease-in-out .3s;
  }

  .nav-item:hover,
  .nav-item:focus {
    opacity: 1;
  }

  .nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 0;
    height: 2px;
    background-color: var(--clr-accent-400);
    transition: width 0.25s ease-out;
  }

  .nav-item:hover::before {
    width: 100%;
    
  }

  
  
}

/*Hero section*/

.hero {
  background-color: var(--clr-bg-300);
}

.left-hero {
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  padding:  0;
}

.hero-btns {
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 2.5rem 0 3rem 0;
  gap: 1em;
}

.hero-img {
  background-image: url("images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem;
  background-position: center left;
  width: 100%;
}

.right-img {
  display: none;
}

@media (min-width: 26.875em) and (max-width: 35.9em) {
  .hero-img {
    padding: 9rem;
  }
}

@media (max-width: 24em) {
  .btn-primary {
    padding: 0.8em 2em;
  }

  .btn-secondary {
    padding: 0.8em 1.3em;
  }
}

/*tablet*/
@media (min-width: 36em) {
  .hero-img {
    display: none;
  }

  .hero {
    background-color: var(--clr-bg-300);
    background-image: url("images/hero-img@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom -30px left;
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 12rem;
    aspect-ratio: 4 / 3;
  }

  .left-hero {
    position: relative;
  }
  
  .left-hero h1 {
    position: absolute;
    right: 16px;
    bottom: -250px;
    animation: hero-text-load 300ms ease-in 400ms;
  }

  @keyframes hero-text-load {
    0% {
      transform: translateY(-100%);
    }

    100% {

      transform: translateY(0);
    }
  }

  .left-hero .hero-btns {
    position: absolute;
    right: 16px;
    bottom: -372px;
    align-self: unset;
    gap: 1em;
    animation: hero-text-btns 500ms ease-in 700ms;
  }

  @keyframes hero-text-btns {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@media (min-width: 42em) and (max-width: 49.9em) {
  .left-hero h1 {
    bottom: -300px;
  }
  .left-hero .hero-btns {
    bottom: -432px;
  }
}

@media (min-width: 50em) and (max-width: 61.75em) {
  .left-hero h1 {
    bottom: -400px;
  }
  .left-hero .hero-btns {
    bottom: -532px;
  }
}

@media (min-width: 54em)  {
  .left-hero .hero-btns {
    bottom: -532px;
    right: 77px;
  }
}

@media (min-width: 61.76em) and (max-width: 74.9em) {
  .left-hero h1 {
    bottom: -440px;
  }
  .left-hero .hero-btns {
    bottom: -575px;
  }
}

/*desktop*/

@media (min-width: 86em) {
  .hero {
    background-image: unset;
    aspect-ratio: unset;
    padding: 0;
  }

  .hero-img {
    display: none;
  }

  .hero .container-hero {
    display: grid;
    grid-template-columns: auto 3rem 1fr;
    grid-template-rows: 40rem;
  }
  
  .hero-btns {
    
    flex-direction: row;
    justify-content: flex-start;
    
    gap: 3em;
  }

  .left-hero {
    grid-column: 1 /3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3em;
    height: unset;
    position: static;
    animation: hero-text-load var(--hero-load-time) ease-in-out 400ms;
    z-index: 1;
  }

  .left-hero h1,
  .left-hero .hero-btns {
    position: static;
    animation: none;
  }

  @keyframes hero-text-load {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
 
  .hero-right {
    grid-column: 2 / 4;
    grid-row: 1 /2;
    align-self: start;
    display: flex;
    aspect-ratio: 4 / 3;
  }

  .right-img  {
    object-fit: cover;
    width: 100%;
   
    max-height: 100%;
    grid-column: 2 / 4;
    grid-row: 1 /2;
    align-self: start;
    display: flex;
    aspect-ratio: 4 / 3;
    animation: hero-img-load var(--hero-load-time) ease-in-out 400ms;
  }

  @keyframes hero-img-load {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
}


/*Masterplay*/

.master-play {
  display: none;
}

@media (min-width: 36em) {
  .masterplay {
    background-color: var(--clr-bg-400);
  }
  
  .master-play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-neutral-100);
    width: 100%;
  }
  
  .master-title {
    display: flex;
    flex-direction: column;
  }
  
  .master-title p {
    font-size: var(--fs-200);
  }
  
  .master-play .subtitle{
    font-size: var(--fs-100);
    opacity: 0.6;
  }
  .master-play .icon{
    font-size: 20px;
    color: var(--clr-neutral-100);
    display: flex;
  }
  .master-play .icon .bi{
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(105, 105, 170, 0.3);
    border-radius: 50%;
    padding: 1px 5px 0px 6px;
    transition: .3s linear;
  }
  
  .master-play .middle-controls {
    display: flex;
    align-items: center;
    gap: .5em;
    width: 40%;
  }
  .master-play .middle-controls span {
    color: var(--clr-neutral-100);
    font-size: 0.688rem;
  }
 
  .master-play .middle-controls .bar {
    position: relative;
    width: 70%;
    height: 2px;
    background: rgb(255, 255, 255, 0.3);
  }

  .master-play .middle-controls .bar .bar2 {
    position: absolute;
    background: var(--clr-accent-300);
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
  }

  .master-play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--clr-accent-300);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
  }

  .master-play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid var(--clr-accent-300);
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px var(--clr-accent-300);
  }

  .master-play .middle-controls .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999;
    transition: 1s linear;
    opacity: 0;
  }
  .master-play .vol {
    position: relative;
    width: 12%;
    height: 2px;
    background: rgb(255, 255, 255, 0.3);
    
  }
  .master-play .vol .bi {
    position: absolute;
    color: var(--clr-neutral-100);
    font-size: 24px;
    top: -16px;
    left: -30px;
  }
  
  .master-play .vol input {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 1s linear;
    opacity: 0;
  }
  
  .master-play .vol .vol-bar {
    position: absolute;
    background: var(--clr-accent-300);
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
  }
  .master-play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--clr-accent-300);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
  }
  .master-play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid var(--clr-accent-300);
    border-radius: 50px;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px var(--clr-accent-300);
  }
  
  
}

/*About*/

.about {
  background-color: var(--clr-bg-300);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2em;
}

.about-tablet,
.about-desktop {
  display:  none;
}

.about-img {
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
}

.about-img img {
  object-fit: cover;
 
}

.about-img figcaption {
  font-family: var(--ff-quote);
  font-size: var(--fs-450);
  font-style: italic;
  line-height: 1.6875em;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

.about-img figcaption::before {
  content: "";
  background-image: url(images/quote.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 28.03px;/*1.752rem*/
  height: 19.46px; /*1.216rem*/
  top: -2px;
  left: -36px;
}
.about-img figcaption p {
  font-family: var(--ff-sans);
  font-size: var(--fs-100);
  opacity: 0.8;
  padding-top: 1rem;
  margin-left: -20px;
  text-transform: uppercase;
}


@media (min-width: 36em) {
  .about-tablet {
  display:  block;
  
  }
  .about-mobile,
  .about-desktop {
    display:  none;
  }

  .about-container {
    gap: 3em;
  }

  .about-img {
    flex-direction: column;
    gap: 3em;
    
  }
  

  .about-img figcaption {
    max-width: 85%;
    margin: 0 auto;
    
  }
  
  
  
  
}

@media (min-width: 39.125em) and (max-width: 49.9em){
  .about-img img {
    max-width: 75%;
    margin: 0 auto;
  }
  

}

@media (min-width: 50em)  and (max-width:76.25em){
  .about-desktop {
    display:  block;
  }
  .about-mobile,
  .about-tablet {
    display:  none;
  }
  .about-container {
    /*grid-template-columns: 26rem 29.930rem;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
   
  }
  .about-img {
    order: 1;
    align-self: center;
    /*margin-top: -1.875rem;*/
    /*margin-left: 1.25rem;*/
  }

  

  .about-desktop {
    order: 5;
  }

  .about-img img {
    
    max-width: 100%;
    height: 24rem;
    
  }

  

  
  
}

@media (min-width: 76.26em) {
  .about-desktop {
    display:  block;
  }

  .about-mobile,
  .about-tablet {
    display:  none;
  }

  .about-container {
    grid-template-columns: 43rem 29.930rem;
    grid-template-rows: auto;
    justify-content: space-between;
   
  }
  .about figure {
    order: 1;
    gap: 2em;
    margin-top: -1.875rem;
    /*margin-left: 2.8rem;*/
    
  }

  figure img {
   
    max-height: 100%;
    
  }

  .about-desktop {
    order: 5;
  }


  figure figcaption {
    max-width: unset;
  }
  .about-img figcaption {
    margin-left: 1.5em;
  }

  figure figcaption::before {
    left: -50px;
  }

}


/*/STREAMING//*/

.streaming {
  background-color: var(--clr-bg-400);
}

.streaming-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 3.5em;
}

.streaming-heading {
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5em;
  position: relative;
 
  
}

.stream-icons {
  gap: 2em;
  
}
.playlist-heading {
  display: flex;
  align-items: center;
  gap: 3em;
  padding-bottom: 2rem;
}

.playlist-heading h3 {
  padding: unset;
}

/*Wave*/
.wave {
  width: 30px;
  height: 30px;
  align-items: flex-end;
  display: flex;
  height: 100%;
}

.wave .wave1 {
  width: 3px;
  height: 10px;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  background: var(--clr-accent-400);
  animation: unset;
  align-self: flex-end;
}

.wave .wave1:nth-child(2) {
  height: 13px;
  /*animation-delay: .4s;*/
}

.wave .wave1:nth-child(3) {
  height: 8px;
  /*animation-delay: .8s;*/
}






.album-img {
  width: 2.5rem;
  height: 2.5rem;
}

.playlist .song-list {
  justify-content: space-between;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  
}




.playlist .song-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr auto;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.playlist .song-list li:hover {
  background-color: var(--clr-bg-500);
}



.playlist .song-list li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}



.song-list li .digit {
  font-size: var(--fs-200);
  opacity: 0.7;
  padding: 0 .5em;
}

.song-list li .song {
  font-size: var(--fs-100);
  letter-spacing: 0.02em;
  color: var(--clr-neutral-100);
}

.playlist ul li.active {
  font-weight: bold;
}

/*music player*/



.player {
  background-color: var(--clr-bg-500);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
  padding: 1.5rem 3.25rem;
  border-radius: 6px;
}

.track-playing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
}

.record {
  width: 3.5rem;
  border-radius: 50%;
  margin-left: .3em
}

.record-animation {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
 
}
.slidecontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slidecontainer i {
  color: var(--clr-neutral-100);
  font-size: 1.2rem;
}

.controls-slider {
  -webkit-appearance: none;
  cursor: pointer;
  height: 8px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2;
  border-radius: 20px;
  margin: 0 1rem;
  width: 50%;
}

.controls-slider:hover {
  opacity: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.controls > button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  
}

.controls > button > i {
  font-size: 1.1rem;
  color: #f1f1f1;
}

.play-pause > i {
  font-size: 1.8rem !important;
}
.play-pause > i:hover,
.controls > button > i:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2;
}

/*Albums*/

.streaming .albums-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  /*gap: 1em;*/
  
}

.vinyl {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2em;
  justify-items: center;
}

.albums-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1.2em;
  
}

.vinyl h3 {
  justify-self: left;
}
.album img {
  width: 10.938rem;
  height: 10.313rem;
  padding-bottom: 0.5rem;
}

.album figcaption {
  font-size: var(--fs-100);
  letter-spacing: 0.02em;
  opacity: 0.7;
}

.singles {
  display: none;

}


/*Videos*/

.videos {
  background-color: var(--clr-bg-300);
}

.videos h3 {
  padding-bottom: 2em;
  position: relative;
}
.videos h3::before {
  content: "";
  background-color: var(--clr-accent-400);
  width: 32px;
  height: 4px;
  position: absolute;
  left: 0;
  top: -32px;
}
.videos-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  
}

.iframe-container {
  aspect-ratio: 16/9;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}



/*@media (min-width: 36em) {
  .videos-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  
}*/






@media (min-width: 20em) and (max-width: 20.375em) {
  .playlist .song-list li {
    grid-template-columns: auto auto auto auto;
   
  }

  
}
@media (min-width: 20em) and (max-width: 32em) {
  
  .track-playing {
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
  
  .controls {
    padding-top: 1em;
  }
}
 @media (min-width: 27em) {

  .album img {
    width: 13rem;
    height: 13rem;
   
  }
  
}

@media (min-width: 28em) {
  .player {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .track-playing {
    flex-direction: column;
  }
  .record {
    width: 5rem;
    
    margin-left: -.2em
  }
}

@media (min-width: 48em)  {
  .videos-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}


@media (min-width: 36em) /*and (max-width: 60.9em) */{
  .playlist .song-list {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .playlist .song-list li:nth-child(2) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 36em) {
  .streaming-heading {
    grid-column: 1 / -1;
    grid-row: 1 /2;
    flex-direction: row;
   
    gap: 5rem;
  }

  .stream-icons {
    padding-top: 0.5em;
  }
  .playlist {
    grid-column: 1 / -1;
    grid-row: 2 /3;
  }

  .playlist-heading {
    padding-bottom: 2.5em;
  }

  .player-container {
    grid-column: 1 / -1;
    grid-row: 3 /4;
  }
  

  

  .videos {
    grid-column: 1/ -1;
  }

  .videos-container {
    gap: 3em;
  }

  .videos h3 {
    padding-bottom: 2.5em;
  }

  .album img {
    width: 15rem;
    height: 15rem;
   
  }
  

  .slider { 
    width: 50%;
  }

  .controls {
    width: 50%;
    align-self: center;
  }

  .track-playing {
    justify-self: center;
    
  }
  .albums {
    grid-column: 1 / -1;
    grid-row: 4 /5;
    justify-content: end;
    margin-top: 2.5rem;
  }

  .albums-wrapper {
    gap: 2em; 
  }
  .streaming-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 4.5rem;
  }

  .vinyl {
    gap: 2.5em;
  }
  
  
}
@media (min-width: 52em)  {
  .streaming .albums-container {
    grid-template-columns: auto auto;
    
  }
  .albums-wrapper {
    grid-template-columns: 15rem 15rem;
    display: grid;
    grid-template-columns: 16rem 16rem;
    /*gap: 4em;*/
    grid-column: 1 /2;
  }

  .vinyl {
    grid-column : 1 / 2;
    justify-items: unset;
  }

  .singles {
    display: grid;
    grid-column: 2 /3;
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
    gap: 2.3em;
  }

  .player-container {
    display: grid;
    grid-template-columns: 1fr 60rem 1fr;
    grid-template-rows: auto;

  }

  .player {
    grid-column: 2 /3;
    padding: 2rem 3.25rem;
  }

}

@media (min-width: 50em)  {
  
  

  
  .playlist .song-list {
    
    gap: 0 4em;
  }
  
  
}

@media (min-width: 61em) {
  .albums-wrapper {
    gap: 4em;
  }
  

}

/*Reviews & Comments*/


.reviews {
  background-color: var(--clr-bg-400);
}

.reviews-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 3.5em;
  justify-content: space-between;
}

.reviews .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5em;
}
.reviews .content h2{
 white-space: nowrap;
 padding-bottom: 0.5em;
}

.comment {
  font-style: italic;
}

.comment:nth-of-type(1),
.comment:nth-of-type(2) {
  display: none;
}

.author {
  font-size: var(--fs-200);
  letter-spacing: 0.02em;
  opacity: 0.7;
  line-height: 1;
}

.reviews-img-container .nero-img {
  display: none;
}

.reviews-img {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.reviews-img figcaption {
  font-size: var(--fs-100);
  letter-spacing: 0.03em;
  opacity: 0.7;
}

@media (min-width: 44em)  {
  .reviews-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 3.5em;
  }

  .reviews-content {
    gap: 2em;
  }

  .reviews h2 {
    grid-column: 1 / -1;
  }
  .comment:nth-of-type(1),
  .comment:nth-of-type(2) {
    display: block;
  }

  .reviews-img-container {
    align-self: center;
  }
}
@media (min-width: 62em)  {

  .reviews-container {
    
    
    gap: 6em;
  }
  

  .reviews .content {
    grid-column: 2 / -1;
    justify-self: center;
    gap: 2em;
  }

  .reviews-img-container {
    grid-column: 1 /2;
    grid-row: 1 / 3;
    display: flex; 
    gap: 2.5em;
    
  }
  .reviews-img-container .reviews-img{
    flex-basis: 50%;
    align-self: center;
    
  }

  .reviews-img-container .nero-img {
    display: block;
    flex-basis: 50%;
    
  }


}


/*Photos & Band Members*/

.personal-gallery {
  background-color: var(--clr-bg-300);
}

.personal-gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7em;
}

.personal-gallery .heading-desktop {
  display: none;
}

.photos, 
.members {
  gap: 2.5em
}
.members-container {
  background-color: var(--clr-bg-400);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2em;
  padding: 2em;
  width: 100%;
}
.personal-gallery .instrument {
  opacity: 0.7;
}

/*Carousel*/

.photos,
.members {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2.5em
}
.slider {
  width: 100%;
  /*max-width: 800px;*/
  height: 12rem;
  
  
  /*height: 350px;*/
  position: relative;
  overflow: hidden; /* <===  */
  
  margin:0;
}

.slide {
  width: 100%;
  /*max-width: 800px;*/
  height: 100%;
  /*height: 350px;*/
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  
  height: auto;
  
 
}



.slider-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: var(--clr-bg-400);
  
  font-size: 18px;
}




.slider-btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
 
}



.btn-next .bi,
.btn-prev .bi {
  position: relative;
  color: var(--clr-neutral-100);
  bottom: 3.5px;
  right: -1px;
}

.btn-prev .bi {
  right: 1px;
}

@media (min-width:26.875em) {
  .slide img {
    
    
    
   
    
  }

  .slider {
    height: 16rem;
  }
  
} 

@media (min-width: 40em) {

  .personal-gallery-container {
    
    grid-template-columns: 1.5fr 1fr;
    gap: 2em;
  }

  .photos {
    gap: 3em;
  }

  .members {
    gap: 3em;
  }
  .slider {
    width: 100%;
    /*max-width: 800px;*/
    height: 14rem;
    
    
    /*height: 350px;*/
    position: relative;
    overflow: hidden; /* <===  */
   
    margin:0;
    
  }
  
  .slide {
    width: 100%;
    /*max-width: 800px;*/
    height: 100%;
    /*height: 350px;*/
    position: absolute;
    transition: all 0.5s;
   
  }
  .slide-img {
    object-fit: contain;
    
  }
  
  
  
  .members-container {
    gap: 1em;
  }
  
}

@media (min-width: 62em) {
  .photos h2,
  .members h2 {
    display: none;
  }
  .photos .heading-desktop {
    display: grid;
  }

  .photos {
    
    grid-template-rows: auto 25rem;
    gap: 3.5em;
  }
  .personal-gallery-container {
    
    grid-template-columns: 2.5fr 1fr;
    gap: 2em;
  }

  .slider {
    width: 100%;
    height: 100%;
    border-radius: 0;
    
  }

  

  .slide img {
    object-fit: cover;
    
  }
  .wall-img {
    object-position: 20% top;
  }
  .members {
    grid-template-rows: auto 25rem;
    
  }

  .members-container {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding-left: 3em;
    justify-content: center;
    gap: 2em;
  }
}

/*Events*/

.events {
  background-color: var(--clr-bg-400);
}

.events-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5em;
}

.events-imgs-container {
  display: none;
}

.event-img img {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
}

.events-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
}

.events-details {
  
  gap: 1.5em;
}

.events-headings {
  gap: 0.4em;
}

.location,
.time {
  gap: 0.5em;
}

.details-heading {
  font-size: var(--fs-100);
  text-transform: uppercase;
  opacity: 0.9;
}



@media (min-width: 36em)  {
  .events-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2rem 3.25rem auto 3.25rem;
    gap: 0;
    
  }

  .events-content {
    grid-column: 1 /4;
    grid-row: 2 / 5;
  }
  
  .event-img {
    display: none;
  }

  .events-images {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    align-self: end;
  }

  .events-imgs-container  {
    display: grid;
    grid-template-columns: 1fr 0.5rem 1fr;
    grid-template-rows: 1fr;
  }
  .events-imgs img {
    border-top: 1px solid rgba(214, 26, 36, 0.5);
    filter: drop-shadow(0px -2px 10px rgba(0, 0, 0, 0.4));
  }

  .events-imgs:nth-of-type(1) {
    align-self: center;
    grid-column: 1 /3;
  }
}
@media (min-width: 60.75em)  {
  
  .events-content {
    grid-template-rows: auto auto auto;
    gap: 0;
  }
  .events-imgs-container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .events-imgs:nth-of-type(1) {
    align-self: center;
    grid-column: 1 /2;
    margin-right: -45px;
  }
  .events-images {
    grid-row: 3 /5;
  }
}
@media (min-width: 62em)  {
}

/*Contact/Bookings*/

.contact {
  background-color: var(--clr-bg-300);
}

.contact .form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5em;
}
/*form*/

.contact form {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 1em;
}

.form-heading {
  gap: 0.4em;
}

.invalid {
  border: 1px solid var(--clr-hover-primary);
}


.contact input,
.contact textarea { 
  background-color: var(--clr-bg-600);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: 100%;
  padding: 0.8125em 0.75em 0.75em 0.75em;
  font-size: var(--fs-400);
  outline: none;
  color: var(--clr-neutral-100);
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
}

.contact input::placeholder,
textarea::placeholder {
 font-size: var(--fs-400);
}



.error {
  color: var(--clr-hover-primary);
  font-size: var(--fs-100);
  margin-top: 0.375em;
  letter-spacing: 0.02em;
}

.contact label {
  display: block;
  font-size: var(--fs-200);
  margin-bottom: 0.375em;
  opacity: 0.8;
}

.hide {
  display: none;
  opacity: 0;
}

textarea {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 0;
  
  /*height: 200px;*/
  font-size: var(--fs-400);
  resize: none;
}


.submit-btn {
  background-color: var(--clr-accent-300);
  border: 0;
  line-height: 1.125;
  padding: 0.8em 1.5em;/*CAN CHANGE IT TO MATCH BNTS UP*/
  justify-self: start;
}


.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--clr-hover-primary);
  
}


.thank-you {
  padding: 3em;
  font-size: var(--fs-400);
  text-align: center;
}

/*bookings social*/

.contact-details .drums-img {
  display: none;
}



.bookings-socials .bi {
  color: var(--clr-neutral-100);
  font-size: 1.5rem;
}


.bookings-socials .email a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.phone,
.email a {
  display: flex;
  align-items: center;
  gap: 1.5em;
  
}

.phone .bi {
  margin-left: -4px;
}

@media (min-width: 36em) {
  .contact form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 1em;
  }

  .contact .form-container {
    gap: 3em;
  }

  .form-control:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  .form-control:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1 / 2;
  }
  .form-control:nth-of-type(3) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .submit-btn {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  
  .contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
  }
  .contact-details .drums-img {
    display: block;
    grid-column: 2 /3;
    justify-self: center;
  }

  .bookings-socials {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    justify-self: left;
  }
}

@media (min-width: 55em) {
  .contact .form-container {
   
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 3.5em;
  }

  .contact-details {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/ 3;
    grid-row: 1 /3;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 2em;
  }

  .form-heading {
    grid-column: 1 /2;
    grid-row: 1 /2;
  }

  .contact form {
    grid-column: 1 /2;
    grid-row: 2 /3;
  }
  
  .contact-details .drums-img {
    
    
    grid-column: 1/2;
    grid-row: 1/2;;
    justify-self: center;
    align-self: center;
  }
  .bookings-socials {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
  
}

/*Footer*/

.footer {
  background-color: var(--clr-bg-400);
  justify-content: center;
  padding: 2rem 1.5rem;
}

.footer-text {
  text-align: center;
  font-size: var(--fs-200);
}

.copy {
  align-items: center;
}

@media (min-width: 36em)  {
  .footer {
    padding: 3rem 1.5rem;
  }
}