
:root {
  --ff-sans: "Fira Sans", sans-serif;
  --ff-serif: "Playfair Display", serif;

  /* small screen font-sizes */

  --fs-100: 0.875rem;/*14px*/
  --fs-200: 0.938rem;/*15px*/
  --fs-300: 1rem;
  --fs-400: 1.063rem;/*17px*/
  --fs-500: 1.5rem;/*h3*/
  --fs-600: 2.25rem;/*h2*/
  --fs-700: 2.375rem;/*h1*/

  --fs-heading: 2.938rem;/*lower h1 in span*/
  --fs-label: 0.875rem;
  --fs-label-input: 0.938rem;
  --fs-copy: 0.875rem;
  --fs-btn: 1rem;
  --fs-quote: 1.188rem;/*19px -quote*/

  --fw-200: 300;/*light*/
  --fw-300: 400;/*regular*/
  --fw-500: 500; /*medium*/
  --fw-600: 600;/*Semibold*/
  --fw-700: 700;/*bold*/

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: ;
  --clr-neutral-300: ;
  --clr-neutral-400: #d5d5d5;/*unselected nav item*/
  --clr-neutral-500:  #2d2d2d;/*hr*/
  --clr-neutral-900: ;

  /*p {color: rgba(255, 255, 255, 0.8);} border: 10px solid rgba(255, 255, 255, .3)
  Add white color with opacity as in Figma*/

  --clr-bg-300: #242424;/*dark*/
  --clr-bg-400: #2b2b2b;/*light*/
  --clr-bg-500: #404040;/*masterplay bg/playlist hover/band members bg*/
  --clr-bg-600: #1a1a1a;/*Form bg*/

  --clr-accent-300: #d61a24;
  --clr-accent-400: #e31b26;/*accent on lighter bg + NB ALL GRAPHICS on dark and light bg*/
  --clr-accent-500: #ff8b7a;/*accent for playmaster volume up only*/

  --clr-hover-primary: #bd0b15;
  --clr-hover-secondary: #d61a24;

  --br: 1rem;/**/

  --box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);/*member and masterplay*/

  --spacer-xs: 0.5rem; /*8px*/
  --spacer-s: 1rem; /*16px*/
  --spacer-ls: 1.5rem; /*24px*/
  --spacer-m: 2rem; /*32px*/
  --spacer-xm: 2.5rem; /*40px*/
  --spacer-sl: 3rem; /*48px*/
  --spacer-l: 4.5rem; /*56px*/
  --spacer-xl: 4rem; /*64px*/
  --spacer-xxl: 4.5rem; /*72px*/
  --spacer-xxxl: 5rem; /*80px*/
  --spacer-xxxxl: 5.5rem; /*88px*/
  --spacer-xxxxxl: 7.25rem; /*116px*/


}

/*tablet*/
@media (min-width: 36em) {
  :root {
    
    --fs-500: 1.625rem;
    --fs-600: 2.375rem;
    --fs-700: 3.25rem;
    --fs-heading: 3.875rem;
  }
}

/*desktop*/
@media (min-width: 62em) {
  :root {
    
    --fs-500: 1.875rem;
    --fs-600: 3.125rem;
    --fs-700: 4.688rem;
    --fs-heading: 5.75rem;
    --fs-btn: 1.063rem;
    --fs-quote: 1.25rem;/*quote*/

  }
}


/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

html {
  color-scheme: dark light;
}


body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  /*can do margin: 0; as well*/
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  /*height: auto;*/
}


input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  min-height: 100vh;/**/
  font-family: var(--ff-sans);
  color: var(--clr-neutral-100);
}


/*Typography*/

h1,
h2,
h3 {
  font-family: var(--ff-serif);
  font-weight: var(--fw-700);
}


h2 {
  line-height: 1.2;
  letter-spacing: -2px;
}

h1 {
  font-size: var(--fs-700);
  line-height: 1;
  letter-spacing: -2px;
 
 
}

h1 span {
  font-size: 2.938rem;
  line-height: 1;
}

h3 {
  font-weight: var(--fw-600);
  line-height: 1.2;
  letter-spacing: -1.7px;
}

.text-400 {
  font-size: var(--fs-500);
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  font-weight: var(--fw-300);
  font-size: var(--fs-300);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-neutral-100);
}
.btn-primary {
  background-color: var(--clr-accent-300);
  padding: 0.8em 3em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-hover-primary);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--clr-neutral-100);
  padding: 0.8em 2.3em;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--clr-hover-secondary);
  border-color: var(--clr-hover-secondary);
}

/*tablet*/
@media (min-width: 36em) {
  h1 span {
    font-size: 3.875rem;
    
  }
  
}


/*desktop*/
@media (min-width: 62em) {
  h1 span {
    font-size: 5.75rem;
    
  }
  .btn {
    font-size: var(--fs-400);
  }
}


/*General layout*/

section {
  padding: 3rem 0;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.flow-content > * + * { /*about text*/
  margin-top: 2rem;
}

.split {
  display: flex;
  align-items: center;
}

/*tablet*/
@media (min-width: 36em) {
  section {
    padding: 5.5rem 0;
  }

  .flow-content > * + * { /*about text*/
    margin-top: 1.5rem;
  }
}

/*desktop*/
@media (min-width: 62em) {
  section {
    padding: 7.25rem 0;
  }
  
}

/*****/
/*Header*/
.header {
  background-color: var(--clr-bg-400);
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
}

.nav-left {
  gap: 2em;
}

.menu-links {
  gap: 1em;
}

.menu {
  display: none;
}

/*mobile/tablet header*/
.open-nav{
  border: 0;
  background: 0;
  color: var(--clr-neutral-100);
  cursor: pointer;
  padding: 0;
  font-size: 2em;
  transition: all ease-in-out 2s;
}

.menu-inside {
  position: fixed;
  background: var(--clr-bg-300);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms; 
  height: 100%;
  padding: 0 2rem;
}

.close-nav {
  border: 0;
  background: 0;
  color: var(--clr-neutral-100);
  cursor: pointer;
  font-size: 3em;
  font-weight: var(--fw-300);
  transition: linear .2s;
  margin: 0;
}

.close-nav:hover,
.close-nav:focus {
  opacity: 0.5;
}

.list-inside li {
  padding: 1rem 0;
}
.nav-link {
  
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  text-decoration: none;
  text-transform: uppercase;
  
}

.nav-line {
  border: none;
  height: 1.5px;
  background-color: var(--clr-neutral-500);
}

/*javascript class to toggle*/
.navigation-open {
  transform: translateX(-100%);
}
/*tablet*/
@media (min-width: 36em) {
  .nav-link {
    font-size: var(--fs-400);
  }

  .list-inside li {
    padding: 1.5rem 0;
  }
}

/*desktop*/
@media (min-width: 62em) {
  header {
    padding: 1.5rem 1.5rem;
  }
  .open-nav {
    display: none;
  }

  .nav-left {
    gap: 3em;
  }

  .menu-links {
    gap: 2.5em;
  }

  .menu {
    display: block;
    
  }

  .menu-list {
    gap: 1.5em;
   
  }

  .nav-item {
    color: var(--clr-neutral-100);
    opacity: 0.6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-400);
    /*transition: all 0.2s ease-in-out;*/
    transition: all 0.4 ease;
    position: relative;
    transform: scaleX(0);
  }

 

  .nav-item:hover,
  .nav-item:focus {
    opacity: 1;
   
  }

  .nav-item:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--clr-accent-400);
    width: 100%;
    bottom: -3px;
    left: 0;
    transform: scaleX(1);
  }
  
}

/*Hero section*/

.hero {
  
  background-color: var(--clr-bg-300);
  
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 19rem 15rem;*/
  padding: 0;
}


.left-hero {
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  
  padding:  0;
}

.hero-btns {
  display: flex;
  justify-content: space-around;
  align-self: center;
 
  padding: 1.5rem 0;
  gap: 1rem;
}



.hero-img {
  background-image: url("images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
 
  height: 15rem;
}


@media (max-width: 24em) {
  .btn-primary {
    padding: 0.8em 2em;
  }

  .btn-secondary {
    padding: 0.8em 1.3em;
  }
}
/*tablet*/
@media (min-width: 40em) {
  .hero {
    background-image: url("images/hero-img@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: center center;
 
    height: 15rem;
    background-size: 60%;
    background-position: right 0px ;
    height: 30rem;
    
   
    padding: 0;
    
    
  }

  .hero-img {
    display: none;
  }

  .left-hero {
    grid-column: 2 / 4;
    grid-row: 1;
    align-self: start;
    flex-direction: column;
    gap: 4em;
    z-index: 1;
    justify-self: start;
    padding-top: 1.5rem;
  }

  h1 {
   
    
    
    
  }

  h1 span {
    
  }
  

  .hero-btns {
    flex-direction: column;
    margin-right: auto;
    
    align-items: flex-start;
    grid-column: 2 /4;
   
    
  }
  
}


/*desktop*/
@media (min-width: 62em) {
  .hero {
    grid-template-rows: 42rem;
  }
}


/*Masterplay*/

.master-play {
  display: none;
}

@media (min-width: 36em) {
  .masterplay {
    background-color: var(--clr-bg-400);
  }
  
  .master-play {
    display: flex;
    align-items: center;
    color: #fff;
    width: 40%;
   
  }
  
  .master-title {
    display: flex;
    flex-direction: column;
  }
  
  .master-title h4 {
    font-size: 13px;
  }
  
  .master-play .subtitle{
    font-size: 11px;
    color: #4c5262;
  }
  .master-play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    display: flex;/**/
  }
  .master-play .icon .bi{
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(105, 105, 170, .1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
  }
  
  .master-play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
  }
  .master-play #currentStart {
    margin: 0px 0px 0px 20px;
  }
  
  .master-play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
  }
  .master-play .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
  }
  .master-play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
  }
  .master-play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50px;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
  }/**/
  .master-play .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999;
    transition: 3s linear;/*1s also*/
    opacity: 0;
  }
  .master-play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105, 105, 170, .1);
    
  }
  .master-play .vol .bi {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -11px;
    left: -30px;
  }
  
  .master-play .vol input {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;/*1s also*/
    opacity: 0;
  }
  
  .master-play .vol .vol-bar {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
  }
  .master-play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
  }
  .master-play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50px;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
  }
  
  
}

